.w-button {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  line-height: 20px;
}
.w-button:hover {
  opacity: 0.7;
}

.w-button.round {
  border-radius: 50%;
  aspect-ratio: 1;
}

.w-button.plain {
  border-radius: 50px;
}

.w-button.success {
  background-color: blue;
  color: #fff;
}

.w-button.error {
  background-color: red;
  color: #fff;
}
